.DS_Store
.firebase
.firebaserc
.vscode
node_modules
script/
typings
dist
dist.*
*.swp
.env.*
.env.vitest
/*/backup
/*/build
/*/platforms
/*/script
*.log
/*/backup*.json
/*/report.html
/*/stats.html
/*/.tmp
/*/.netlify
# Local Netlify folder
.netlify
