.DS_Store
.firebase
.firebaserc
.vscode
node_modules
script/
typings
dist
dist.*
*.swp
.env
/functions/.netlify
/functions/node_modules
/functions/dist
/functions/.env
/*/backup
/*/build
/*/platforms
/*/script
*.log
/*/backup*.json
/*/report.html
/*/stats.html