* {
  font-family: 'Noto Sans JP', 'Meiryo', 'Hiragino Sans';
}

:root {
  --base: var(--dark-blue1);
  --primary: var(--royal-blue-traditional);
  --secondary: var(--denim);
  --success: var(--light-green1);
  --info: var(--magnolia);
  --warning: var(--pale-azure);
  --danger: var(--cyclamen);
}

.theme-text-sideA-1 {
  color: var(--pure-white);
}

.theme-login {
  background-color: var(--base);
}
.firebaseui-button {
  background-color: var(--secondary);
}

.theme-sidebar,
.theme-sidebar-header > .b-sidebar-header,
.theme-sidebar-item {
  font-weight: 200;
  background-color: var(--base);
}
.theme-sidebar-header * {
  color: var(--pure-white);
}
.theme-sidebar-logo {
  filter: brightness(0.85);
}
.theme-sidebar-item {
  color: var(--info);
}
.theme-sidebar-item-active {
  color: var(--warning);
  background-color: var(--primary);
  font-weight: 400;
}
.theme-sidebar-footer {
  color: var(--dark-gray);
  font-weight: 100;
}

.theme-thead-color1 th {
  background-color: var(--base);
  color: var(--pure-white);
}
.theme-thead-color2 > th {
  background-color: var(--pale-gray);
  color: var(--dark-blue2);
}

.firebaseui-container {
  background-color: var(--base);

  & * {
    color: var(--pure-white);
  }

  & .mdl-textfield__input {
    border-bottom: 1px solid var(--light-gray);
  }
}

/*********************************************************
  Items below are for the bootstrap-vue element stylying
 *********************************************************/
:root {
  --bs-focus-ring-color: var(--danger);
}
/* Buttons */
.btn-primary, .card-primary {
  background-color: var(--primary) !important;
  /* color:  */
  border: 0px;
}
.btn-outline-primary, .card-outline-primary {
  background-color: var(--transparent) !important;
  color: var(--secondary);
  font-weight: 500;
  border: 1px solid var(--primary);
}
.btn-secondary, .card-secondary {
  background-color: var(--secondary) !important;
  /* color:  */
  border: 0px;
}
.btn-outline-secondary, .card-outline-secondary {
  background-color: var(--transparent) !important;
  color: var(--secondary);
  font-weight: 500;
  border: 1px solid var(--secondary);
}
.btn-success, .card-success {
  background-color: var(--success) !important;
  color: var(--sumi-black);
  border: 0px;
}
.btn-outline-success, .card-outline-success {
  background-color: var(--transparent) !important;
  color: var(--success);
  font-weight: 500;
  border: 1px solid var(--success);
}
.btn-info, .card-info {
  background-color: var(--info) !important;
  color: var(--sumi-black);
  border: 0px;
}
.btn-outline-info, .card-outline-info {
  background-color: var(--transparent) !important;
  color: var(--info);
  font-weight: 500;
  border: 1px solid var(--info);
}
.btn-warning, .card-warning {
  background-color: var(--warning) !important;
  color: var(--sumi-black);
  border: 0px;
}
.btn-outline-warning, .card-outline-warning {
  background-color: var(--transparent) !important;
  color: var(--warning);
  font-weight: 500;
  border: 1px solid var(--warning);
}
.btn-danger, .card-danger {
  background-color: var(--danger) !important;
  /* color:  */
  border: 0px;
}
.btn-outline-danger, .card-outline-danger {
  background-color: var(--transparent) !important;
  color: var(--danger);
  font-weight: 500;
  border: 1px solid var(--danger);
}

/* Radio & Checkbox switch */
.custom-control-input:checked~.custom-control-label:before {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.custom-radio.b-custom-control-lg .custom-control-label:after, .input-group-lg .custom-radio .custom-control-label:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2712%27 height=%2712%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23fff%27/%3e%3c/svg%3e");
}


/****************
  HERE IS A HACK:
  b-spinner's color cannot be overriden with the same class name,
  so I use postcss plugin called "postcss-remove-declaration" to eliminate "text-xxxx" from css.
  That's why you need to put "span" in front of the "text-xxxx" class name below:
*****************/
span.text-primary {
  color: var(--info);
}
span.text-secondary {
  color: var(--secondary);
}
span.text-success {
  color: var(--success);
}
span.text-info {
  color: var(--info);
}
span.text-warning {
  color: var(--warning);
}
span.text-danger {
  color: var(--danger);
}
